* {
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: 'Freedom';
    src: url('../assets/fonts/Freedom.ttf');
    font-weight: normal;
    font-style: normal;
  } 
  
body {
    font-family: Freedom, system-ui, sans-serif;
    background-image: url('../assets/images/bg.webp'); 
    background-position: cover;
    background-size: cover;   
    color: greenyellow;
    text-shadow: .1rem .2rem darkblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 6rem;
    text-shadow: .2rem .3rem darkblue;
}

h2 {
    text-align: left;
    font-size: 2.5rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    text-shadow: .1rem .1rem darkblue;
}

button {
    background-color: black;
    font-family: Freedom, system-ui, sans-serif;
    color: yellowgreen;
    text-shadow: .1rem .1rem darkblue;
}

.game-space {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    flex-grow: 1;                                      
}

.rules {
    background-color: rgb(0 0 0 / .75);
    width: 60vw;
    position: absolute;
    font-size: 2rem;
    padding: 2rem;
    margin: 6rem 12rem 12rem 12rem;

}
.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 25rem
}

.tile-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.this-turn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}

.this-turn p {
    padding-left: 1rem;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3rem;
    width: 15rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: .5rem;
}

.ts-tile {
    display: flex;
}

.owner {
    width: 10rem;
    height: 2rem;
}

.current-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.sqr, .ts-sqr, .c-sqr {
    border: 0.2rem solid white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    aspect-ratio: 1/1;
    font-size: 2rem;
}

.ts-sqr, .c-sqr {
    width: 5rem;
}

.h {
    background-image: url("../assets/images/h.webp") ;
    background-size: cover;
    background-position: center ;
}

.y {
    background-image: url("../assets/images/y.webp") ;
    background-size: cover;
    background-position: center ;
}

.dg {
    background-image: url("../assets/images/dg.jpg") ;
    background-size: cover;
    background-position: center ;
}

.pg {
    background-image: url("../assets/images/pg.webp") ;
    background-size: cover;
    background-position: center ;
}

.b {
    background-image: url("../assets/images/b.webp") ;
    background-size: cover;
    background-position: center ;
}

.bl {
    background-image: url("../assets/images/bl.webp") ;
    background-size: cover;
    background-position: center ;
}

.br {
    background-image: url("../assets/images/br.webp") ;
    background-size: cover;
    background-position: center ;
}

.hidden {
    display: none;
}