* {
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
}

.board {
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 25rem
}

.tile-selector {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.ts-tile {
    display: flex;
    margin-block: 2rem;
}

.sqr, .ts-sqr {
    border: 3px solid black;
    aspect-ratio: 1/1;
    font-size: 2rem;
}

.ts-sqr {
    width: 5rem;
}

.h {
    background-color: red;
}

.y {
    background-color: yellow;
}

.dg {
    background-color: darkgreen;
}

.pg {
    background-color: palegreen;
}

.b {
    background-color: blue;
}

.bl {
    background-color: black;
}

.br {
    background-color: brown;
}